# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Conda
.env
conda-meta/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

.streamlit/secrets.toml
projects/
*.pdf
# Windows
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Temporary
temp/
tmp/